doctype html
head
  meta(http-equiv='content-type' content='text/html; charset=UTF-8')
  script.
    L_PREFER_CANVAS = false; L_NO_TOUCH = false; L_DISABLE_3D = false;
  script(src='https://unpkg.com/leaflet@1.0.1/dist/leaflet.js')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.0/leaflet.markercluster-src.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.0/leaflet.markercluster.js')
  link(rel='stylesheet' href='https://unpkg.com/leaflet@1.0.1/dist/leaflet.css')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.0/MarkerCluster.Default.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.0/MarkerCluster.css')
  link(rel='stylesheet' href='https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css')
  style.
    html, body {width: 80%;height: 80%;margin: 0;padding: 0;}
  style.
    #map {position:absolute;top:0;bottom:0;right:0;left:0;}
  style.
    #map_ccd95840d2b240d8ab994b8d9a717c10 {
    position : relative;
    width : 80.0%;
    height: 80.0%;
    left: 0.0%;
    top: 0.0%;
    }
#map_ccd95840d2b240d8ab994b8d9a717c10.folium-map
script.
  var southWest = L.latLng(-90, -180);
  var northEast = L.latLng(90, 180);
  var bounds = L.latLngBounds(southWest, northEast);
  var map_ccd95840d2b240d8ab994b8d9a717c10 = L.map(
  'map_ccd95840d2b240d8ab994b8d9a717c10',
  {center: [45.5236,-122.675],
  zoom: 10,
  maxBounds: bounds,
  layers: [],
  worldCopyJump: false,
  crs: L.CRS.EPSG3857
  });
  var tile_layer_f51c353a0a7848d1ad23950dd1a96ef3 = L.tileLayer(
  'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
  {
  maxZoom: 18,
  minZoom: 1,
  continuousWorld: false,
  noWrap: false,
  attribution: 'Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://www.openstreetmap.org/copyright">ODbL</a>.',
  detectRetina: false
  }
  ).addTo(map_ccd95840d2b240d8ab994b8d9a717c10);


block content
  .container
      h2 
        p
         | OpenShift Weather App
      br
      br
      .row
        .col-md-3
          form(method="post", action="get_weather")
            .form-group
              label.sr-only(for="city") City Name
              input.form-control( name="city" type="text" placeholder="Enter City Name (for ex: New York)" required='required')
            button.btn.btn-success(type="submit") Get Weather
      if error
        br
        .alert.alert-danger #{error}
      if weather
        .row
          .col-md-5
            p
            br
            .panel.panel-primary
              .panel-heading Weather for: #{weather.name}, #{weather.sys.country}
              .panel-body
               p Current Temperature = #{weather.main.temp} !{units}, #{weather.weather[0].description}
               p Humidity = #{weather.main.humidity} &#37;
               p Min = #{weather.main.temp_min} !{units}
               p Max = #{weather.main.temp_max} !{units}